@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: 'Rootstock Sans Body';
  src: url('assets/font/Rootstock-Sans-Body.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}

body {
  color: white;
  background: #000;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.toggle-bg:after {
  --tw-content: '' --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  border-radius: 9999px;
  border-width: 1px;
  content: '';
  height: 1rem;
  left: 0.125rem;
  position: absolute;
  top: 0.125rem;
  transition-duration: 0.15s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 1rem;
}

input:checked + .toggle-bg:after {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
  transform: translateX(100%);
}
input:checked + .toggle-bg {
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  background-color: orange;
  border-color: rgb(56 63 107 / var(--tw-border-opacity));
}
.form-team .team-detail, .select-group {
  display: none;
}
.form-team.confirm input {
  display: none;
}
.form-team.confirm .select-group {
  display: none;
}
.form-team.confirm .team-detail, .select-group {
  display: flex;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: rgb(54, 54, 54);
  border-radius: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(125, 125, 125);
  border-radius: 20px;
  border: 1px solid rgb(49, 49, 49);
}